include doc/*.rst
include erpblok/client.mak
recursive-include erpblok/bloks */*.rst
recursive-include erpblok/bloks */*.xml
recursive-include erpblok/bloks */*/*.xml
recursive-include erpblok/bloks */*.tmpl
recursive-include erpblok/bloks */*/*.tmpl
