section#application nav#breadcrums {
    margin-top: 5px;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    overflow: hidden;
    margin-left: 1%;
    width: 98%;
}
section#application nav#breadcrums ul {
    margin: 0;
    padding: 0;
}
section#application nav#breadcrums ul li {
    display: inline-block;
    list-style-type: none;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
section#application nav#breadcrums > ul > li > a{
    color: #aaa;
    display: block;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
    position: relative;
}
section#application nav#breadcrums > ul > li.link:hover {
    background-color: rgb( 40, 44, 47 );
}
section#application nav#breadcrums > ul > li.link:hover > a {
    color: rgb( 255, 255, 255 );
}
