#erpblok-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
    url('ajax-loader.gif') 
    50% 50% 
    no-repeat;
}
body.loading {
    overflow: hidden;   
}
body.loading #erpblok-loader {
    display: block;
}

.reveal {
    overflow-y: auto;
    max-height: 100%;
    position: fixed;
}
div.row {
    max-width: 100%;
}
menu ul a.is-active {
    background-color: #2199e8;
    color: white;
}
.ui-autocomplete {
    background-color: white;
    border: 1px solid gray;
}
.ui-menu .ui-menu-item.ui-state-focus ,
.ui-menu .ui-menu-item:hover {
    background-color: blue;
}
