<?xml version="1.0" encoding="UTF-8"?>
<records>
    <record external_id="menu_setting_low_level">
        <field name="label">Low level</field>
        <field name="parent" external_id="menu_setting"/>
        <field name="children">
            <record>
                <field name="label">Database structure</field>
                <field name="children">
                    <record>
                        <field name="label">Models</field>
                        <field name="action" external_id="action_db_model"/>
                    </record>
                    <record>
                        <field name="label">Fields</field>
                        <field name="action" external_id="action_db_field"/>
                    </record>
                    <record>
                        <field name="label">Columns</field>
                        <field name="action" external_id="action_db_column"/>
                    </record>
                    <record>
                        <field name="label">Relation Ships</field>
                        <field name="action" external_id="action_db_rs"/>
                    </record>
                </field>
            </record>
            <record>
                <field name="label">Interface</field>
                <field name="children">
                    <record>
                        <field name="label">User menus</field>
                        <field name="action" external_id="action_ui_user_menu"/>
                    </record>
                    <record>
                        <field name="label">Quick menus</field>
                        <field name="action" external_id="action_ui_quick_menu"/>
                    </record>
                    <record>
                        <field name="label">Menus</field>
                        <field name="action" external_id="action_ui_menu"/>
                    </record>
                    <record>
                        <field name="label">Actions</field>
                        <field name="action" external_id="action_ui_action"/>
                    </record>
                    <record>
                        <field name="label">Views</field>
                        <field name="action" external_id="action_ui_view"/>
                    </record>
                </field>
            </record>
            <record>
                <field name="label">In / Out</field>
                <field name="children">
                    <record>
                        <field name="label">Mappings</field>
                        <field name="action" external_id="action_io_mapping"/>
                    </record>
                    <record>
                        <field name="label">Importers</field>
                        <field name="action" external_id="action_io_importer"/>
                    </record>
                    <record>
                        <field name="label">Exporters</field>
                        <field name="action" external_id="action_io_exporter"/>
                    </record>
                </field>
            </record>
        </field>
    </record>
</records>
