nav#toolbar {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    overflow: hidden;
}
nav#toolbar ul {
    margin: 0;
    padding: 0;
}
nav#toolbar ul li {
    display: inline-block;
    list-style-type: none;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
nav#toolbar ul li.right {
    float: right;
}
nav#toolbar > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
    position: relative;
}
nav#toolbar ul li a.mainmenu::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -30px;
    width: 60px;
    height: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, .5);
}
nav#toolbar ul li a.mainmenu:hover::before,
nav#toolbar ul li a.mainmenu:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
}

nav#toolbar ul li a.mainmenu.selected::before,
nav#toolbar ul li a.mainmenu.selected::before{
    background: green;
    box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
}
nav#toolbar > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
}
nav#toolbar > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}
nav#toolbar > ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
nav#toolbar > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}
nav#toolbar > ul > li > div {
    background-color: rgb( 40, 44, 47 );
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    padding: 5px;
    margin-left: -74px;
    opacity: 0;
    position: absolute;
    width: 200px;
    visibility: hidden;
    z-index: 100;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
nav#toolbar > ul > li > div.quickmenu {
    margin-left: -45px;
    width: 182px;
}
nav#toolbar > ul > li > div ul > li {
    display: flex;
}
nav#toolbar > ul > li > div.quickmenu ul > li {
    display: inline-flex;
}
nav#toolbar > ul > li > div ul > li > a {
    color: #fff;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    width: 200px;
}
nav#toolbar > ul > li > div.quickmenu ul > li > a {
    display: flex;
    padding: 5px;
    width: 48px;
}
nav#toolbar > ul > li > div ul > li:hover > a {
    background-color: rgba( 255, 255, 255, 0.1);
}
nav#toolbar > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}
div#body {
    display: flex;
    position: absolute;
    top: 70px;
    left: 8px;
    bottom: 8px;
    right: 8px;
}
aside#menus {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    overflow: auto;
    top: 0;
    bottom: 0;
    width: 300px;
}
aside#menus li {
    position: relative;
    margin-left: -15px;
    list-style: none;
    cursor: pointer;
}
aside#menus li.sheet {
    margin-left: -1px !important;
}
aside#menus li.sheet a {
    text-decoration: none;
    display: block;
}
aside#menus li.sheet.selected a {
    color: green;
}
aside#menus li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    height: 1em;
    width: 1em;
    top: 0;
}
aside#menus li label {
    cursor: pointer;
    display: block;
    padding-left: 16px;
}
aside#menus li input + ol {
    background: url(/static/menus/toggle-small-expand.gif) 40px 0 no-repeat;
    margin: -0.938em 0 0 -44px; /* 15px */
    display: block;
    height: 1em;
}
aside#menus li input + ol > li {
    display: none;
    margin-left: -14px !important;
    padding-left: 1px;
}
aside#menus li input:checked + ol{
    background: url(/static/menus/toggle-small.gif) 40px 5px no-repeat;
    margin: -1.25em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}
aside#menus li input:checked + ol > li {
    display: block;
    margin: 0 0 0.125em;  /* 2px */
}
aside#menus li input:checked + ol > li:last-child {
    margin: 0 0 0.063em; /* 1px */
}
section#application {
    position: inherit;
    top: 0;
    left: 310px;
    bottom: 8px;
    right: 0;
    overflow: auto;
}
.invisible {
    display: None;
}
