nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
    position: relative;
}

nav ul li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -30px;
    width: 60px;
    height: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, .5);
}

nav ul li a:hover::before,
nav ul li a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
}

nav ul li a.selected::before,
nav ul li a.selected::before{
    background: green;
    box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
}

nav > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
}

nav > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}

.invisible {
    display: None;
}

.page {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    padding-top: 50px;
    padding-bottom: 25px;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
}
.page .centerize {
    text-align: center;
    margin: 20px;
}

.page label {
    margin-left: 100px;
    margin-bottom: 10px;
    width: 250px;
    display: inline-table;
}

.error {
    border-color: 1px solid red;
    color: red;
}

#submit-create,
#submit-drop {
    width: 200px;
    height: 20px;
}
