.hide {
    display: None;
}
/* FIXME apply this in the sass of foundation */
i.menu-img {
    padding-left: 10px;
    padding-right: 10px;
}
.icon-bar.menu-icon {
    margin-top: 7px;
}
.row {
    max-width: 100%;
}
#main-menu.columns {
    padding: 0;
}

ul.menu li a.is-active,
li.is-accordion-submenu-item a.is-active {
    color: green;
}

ul.menu li > a:hover,
li.is-accordion-submenu-item > a:hover {
    background: none repeat scroll 0 0 #222;
}
/* end override foundation */
