<templates>
    <template id="ERPBlokAccessGroupList">
        <field name="name" />
        <field name="label" />
    </template>
    <template id="ERPBlokAccessWebLoginList">
        <field name="login" />
    </template>
    <template id="ERPBlokAccessWebLoginForm">
        <label for="login" />
        <field name="login" />
        <label for="password" />
        <field name="password"/>
    </template>
    <template id="ERPBlokAccessUserList">
        <field name="first_name" />
        <field name="last_name" />
    </template>
    <template id="ERPBlokAccessUserForm">
        <div class="row">
            <div class="columns small-12 medium-6 large-6">
                <label for="first_name" />
                <field name="first_name" />
            </div>
            <div class="columns small-12 medium-6 large-6">
                <label for="last_name" />
                <field name="last_name"/>
            </div>
        </div>
        <label for="login" />
        <field name="login" />
        <label for="groups" />
        <field name="groups" type="Many2ManyChoices" display="label" 
               largegrid="4", mediumgrid="2"/>
    </template>
</templates>
