<templates>
    <template id="ERPBlokAccessGroupList">
        <field name="name" />
        <field name="label" />
    </template>
    <template id="ERPBlokAccessWebLoginList">
        <field name="login" />
    </template>
    <template id="ERPBlokAccessWebLoginForm">
        <label for="login" />
        <field name="login" />
        <label for="password" />
        <field name="password" type="Password"/>
    </template>
</templates>
