<templates>
    <template id="AnyBlokSystemBlokButton">
        <expr if="fields.state.get_value() == 'uninstalled'">
            <button data-function="rpc_call"
                    data-method="install_blok"
                    class="button expanded success">Install this blok</button>
        </expr>
        <expr else>
            <button data-function="rpc_call"
                    data-method="uninstall_blok"
                    class="button expanded alert">Uninstall this blok</button>
            <expr if="fields.version.get_value() != fields.installed_version.get_value()">
                <button data-function="rpc_call"
                        data-method="upgrade_blok"
                        class="button expanded">Upgrade this blok</button>
            </expr>
        </expr>
    </template>
    <template id="AnyBlokSystemBlokForm">
        <div class="row">
            <div class="columns">
                <h1><field name="name"/></h1>
            </div>
            <div class="columns large-4 medium-6">
                <field name="logo" type="Picture" file_name_field="name"/>
                <!--
                <call template="AnyBlokSystemBlokButton"/>
                -->
                <label for="state"/>
                <field name="state"/>
                <label for="version"/>
                <field name="version"/>
                <label for="installed_version"/>
                <field name="installed_version"/>
            </div>
            <div class="columns large-8 medium-6">
                <label for="short_description"/>
                <field name="short_description" type="Html"/>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <label for="long_description"/>
                <field name="long_description" type="Html"/>
            </div>
        </div>
    </template>
    <template id="AnyBlokSystemBlokThumbnails">
        <div class="row">
            <div class="columns">
                <h4><field name="name" class="primary"/></h4>
            </div>
        </div>
        <div class="row">
            <div class="columns large-7 medium-6">
                <field name="logo" type="Picture" file_name_field="name"></field>
                <!--
                <call template="AnyBlokSystemBlokButton"/>
                -->
            </div>
            <div class="columns large-5 medium-6">
                <label for="state"/>
                <field name="state"/>
                <!--
                <expr if="fields.version.get_value() != fields.installed_version.get_value()">
                    <label for="version"/>
                    <field name="version"/>
                </expr>
                <expr if="fields.state.get_value() != 'uninstalled'">
                    <label for="installed_version"/>
                    <field name="installed_version"/>
                </expr>
                -->
            </div>
        </div>
    </template>
</templates>
