<templates>
    <template id="AnyBlokSystemBlokForm">
        <div class="row">
            <div class="columns large-4 medium-6">
                <field name="logo" type="Binary"/>
                <label for="state"/>
                <field name="state"/>
                <label for="version"/>
                <field name="version"/>
                <label for="installed_version"/>
                <field name="installed_version" type="Html"/>
                <button data-function="call"
                        data-method="install_blok"
                        class="small">Install this blok</button>
            </div>
            <div class="columns large-8 medium-6">
                <h1><field name="name"/></h1>
                <label for="short_description"/>
                <field name="short_description"/>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <label for="long_description"/>
                <field name="long_description" type="Html"/>
            </div>
        </div>
    </template>
    <template id="AnyBlokSystemBlokThumbnails">
        <div class="row">
            <div class="columns">
                <h5><field name="name"/></h5>
            </div>
        </div>
        <div class="row">
            <div class="columns large-7 medium-6">
                <field name="logo" type="Binary"></field>
                <div>
                    <% if (record.state == 'uninstalled') { %>
                        <button data-function="rpc_call"
                                data-method="install_blok"
                                class="small success">Install this blok</button>
                    <% } else { %>
                        <button data-function="rpc_call"
                                data-method="uninstall_blok"
                                class="small alert">Uninstall this blok</button>
                    <% } %>
                </div>
            </div>
            <div class="columns large-5 medium-6">
                <label for="state"/>
                <field name="state"/>
                <label for="version"/>
                <field name="version"/>
            </div>
        </div>
    </template>
</templates>
