<templates>
    <!--
        It is the templating for client

        The client templating come from
        http://www.jsviews.com/#d.templates
    -->
    <template id="Client" type="text/x-jsrender">
        <div class="row">
            <div class="columns small-12 medium-8 medium-offset-2 large-4 large-offset-4">
                <img src="/login/logo"></img>
                <div class="section">
                    <div id="error" class="hide alert callout">
                    </div>
                    <label for="login">Login</label>
                    <field id="login"></field>
                    <label for="password">Password</label>
                    <field id="password"></field>
                    <a id="submit" class="button expanded" href="#">Login</a>
                </div>
            </div>
        </div>
    </template>
</templates>
