<templates>
    <!--
        It is the templating for client

        The client templating come from
        http://ejohn.org/blog/javascript-micro-templating/

    -->
    <template id="ERPBlokAction">
        <div id="action-<%=id%>" class="row"/>
    </template>
    <template id="ERPBlokBreadCrumb">
        <div id="<%=id%>" class="current"><%=label%></div>
    </template>
    <template id="ERPBlokDialog">
        <div id="modal<%=id%>" class="reveal-modal" data-reveal>
            <h2 class="dialog-title"></h2>
            <div class="dialog-content"></div>
        </div>
    </template>
    <template id="ERPBlokDialogClose">
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </template>
    <template id="ERPBlokViewManager">
        <div class="row view-manager">
            <nav class="view-selector">
                <ul/>
            </nav>
        </div>
    </template>
    <template id="ERPBlokView">
        <div id="<%=id%>" class="row view <%=class_name%>"/>
    </template>
    <template id="ERPBlokViewSelector">
        <li id="<%=id%>"
            title="<%=title_selector%>"
            class="item <%= (selectable ? '' : 'hide')%>">
            <a>
                <i class="<%=icon_selector%> menu-img"></i>
            </a>
        </li>
    </template>
    <template id="ERPBlokViewList" extend="ERPBlokView">
        <xpath action="insert" expression="./div">
            <table role="grid">
                <thead>
                    <% for ( var i = 0; i < headers.length; i++ ) { %>
                        <tr>
                            <% for ( var j = 0; j < headers[i].length; j++ ) { %>
                                <th id="<%=headers[i][j].id%>"
                                    colspan="<%=headers[i][j].colspan%>"
                                    rowspan="<%=headers[i][j].rowspan%>"
                                ><%=headers[i][j].label%></th>
                            <% } %>
                        </tr>
                    <% } %>
                </thead>
                <tbody>
                </tbody>
            </table>
        </xpath>
    </template>
    <template id="ERPBlokViewListLine">
        <tr class="view-list-line">
            <% for ( var i = 0; i < fields.length; i++) { %>
                <td id="<%=fields[i].id%>"/>
            <% } %>
        </tr>
    </template>
    <template id="ERPBlokViewListField">
        <span><%=value%></span>
    </template>
    <template id="ERPBlokViewListOne2Many">
        <% if (value) { %>
            <% for (var i in value) {%>
                <tr><td><%=value[i][1]%></td></tr>
            <% } %>
        <% } else {%>
            <span/>
        <% } %>
    </template>
</templates>
