<templates>
    <!--
        It is the templating for client

        The client templating come from
        http://ejohn.org/blog/javascript-micro-templating/

    -->
    <template id="ERPBlokAction">
        <div id="action-<%=id%>" class="row"/>
    </template>
    <template id="ERPBlokBreadCrumb">
        <div id="<%=id%>" class="current"><%=label%></div>
    </template>
    <template id="ERPBlokDialog">
        <div id="modal<%=id%>" class="reveal-modal" data-reveal>
            <h2 class="dialog-title"></h2>
            <div class="dialog-content"></div>
        </div>
    </template>
    <template id="ERPBlokDialogClose">
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </template>
    <template id="ERPBlokViewManager">
        <div class="row view-manager">
            <div class="columns large-7">
                <ul class="button-group radius view-buttons"></ul>
            </div>
            <div class="columns large-3 medium-7">
            </div>
            <div class="columns large-2 medium-5">
                <nav class="view-selector">
                    <ul/>
                </nav>
            </div>
        </div>
    </template>
    <template id="ERPBlokViewManagerButton">
        <li>
            <a class="view-button button small <%=visibility%>"
               data-function="<%=fnct%>"
               data-method="<%=method%>"><%=label%></a>
        </li>
    </template>
    <template id="ERPBlokViewManagerGroup">
        <li>
            <button data-dropdown="<%=id%>" aria-controls="<%=id%>"
                    aria-expanded="false"
                    class="button dropdown small <%=visibility%>"><%=label%></button>
            <br>
            <ul id="<%=id%>" data-dropdown-content class="f-dropdown"
                aria-hidden="true">
                <% for ( var i = 0; i < buttons.length; i++ ) { %>
                    <li>
                        <a class="view-button <%=buttons[i].visibility%>"
                           data-function="<%=buttons[i].fnct%>"
                           data-params="<%=buttons[i].params%>"><%=buttons[i].label%></a>
                    </li>
                <% } %>
            </ul>
        </li>
    </template>
    <template id="ERPBlokView">
        <div id="<%=id%>" class="row view <%=class_name%>"/>
    </template>
    <template id="ERPBlokViewSelector">
        <li id="<%=id%>"
            title="<%=title_selector%>"
            class="item <%= (selectable ? '' : 'hide')%>">
            <a>
                <i class="<%=icon_selector%> menu-img"></i>
            </a>
        </li>
    </template>
    <template id="ERPBlokViewList" extend="ERPBlokView">
        <xpath action="insert" expression="./div">
            <table role="grid">
                <thead>
                    <% for ( var i = 0; i < options.headers.length; i++ ) { %>
                        <tr>
                            <% if (i == 0 && options.checkbox) { %>
                                <th width="10px"
                                    rowspan="<%=options.headers.length%>">
                                    <input type="checkbox" id="all_checkbox"></input>
                                </th>
                            <% } %>
                            <% for ( var j = 0; j < options.headers[i].length; j++ ) { %>
                                <th id="<%=options.headers[i][j].id%>"
                                    colspan="<%=options.headers[i][j].colspan%>"
                                    rowspan="<%=options.headers[i][j].rowspan%>"
                                ><%=options.headers[i][j].label%></th>
                            <% } %>
                        </tr>
                    <% } %>
                </thead>
                <tbody>
                </tbody>
            </table>
        </xpath>
    </template>
    <template id="ERPBlokViewListLine">
        <tr class="view-list-line">
            <% if (options.checkbox) { %>
                <td>
                    <input type="checkbox" id="line_checkbox"></input>
                </td>
            <% } %>
            <% for ( var i = 0; i < fields.length; i++) { %>
                <td id="<%=fields[i]%>" class="selectable">
                    <div id="<%=fields[i]%>" class="field"></div>
                </td>
            <% } %>
        </tr>
    </template>
    <template id="ERPBlokViewThumbnails" extend="ERPBlokView">
        <xpath action="insert" expression="./div">
            <div id="thumbnails-<%=id%>" class="row thumbnails" data-equalizer>
            </div>
        </xpath>
    </template>
    <template id="ERPBlokViewThumbnailsSticker">
        <xpath action="insert" expression="./div">
            <div class="medium-6 large-3 columns"
                 data-equalizer-watch>
                <div class="sticker panel radius selectable">
                     <%=tmpl(options.template, {fields: fields, options: options})%>
                </div>
            </div>
        </xpath>
    </template>
    <template id="ERPBlokViewField">
        <% if (readonly) { %>
            <span><%=value%></span>
        <% } else { %>
            <input id="<%=id%>" name="<%=id%>" type="<%=type%>"/>
        <% } %>
    </template>
    <template id="ERPBlokViewFieldPassword">
        <% if (readonly) { %>
            <% if (value) { %>
                <span> *** Unreadable protected value *** </span>
            <% } else { %>
                <span ></span>
            <% } %>
        <% } else { %>
            <input id="<%=id%>" name="<%=id%>" type="password"/>
        <% } %>
    </template>
    <template id="ERPBlokViewFieldBinary">
        <img src="<%=value%>"></img>
    </template>
    <template id="ERPBlokViewX2Many">
        <div class="panel">
        </div>
    </template>
    <template id="ERPBlokViewMany2ManyChoices">
        <table role="grid">
            <tbody>
            </tbody>
        </table>
    </template>
    <template id="ERPBlokViewMany2ManyChoice">
        <tr>
            <td>
                <% if (readonly) { %>
                    <input type="checkbox" DISABLED/>
                <% } else { %>
                    <input type="checkbox" />
                <% } %>
                <label><%=label%></label>
            <td>
        </tr>
    </template>
</templates>
